/* line 7, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}
/* line 14, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 17, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 20, ../sass/lightbox.sass */
#outerImageContainer {
  position: relative;
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 28, ../sass/lightbox.sass */
#imageContainer {
  padding: 10px;
}

/* line 31, ../sass/lightbox.sass */
#loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 40, ../sass/lightbox.sass */
#hoverNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 48, ../sass/lightbox.sass */
#imageContainer > #hoverNav {
  left: 0;
}

/* line 51, ../sass/lightbox.sass */
#hoverNav a {
  outline: none;
}

/* line 54, ../sass/lightbox.sass */
#prevLink, #nextLink {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,AAAA");
  /* Trick IE into showing hover */
  display: block;
}

/* line 61, ../sass/lightbox.sass */
#prevLink {
  left: 0;
  float: left;
}

/* line 65, ../sass/lightbox.sass */
#nextLink {
  right: 0;
  float: right;
}

/* line 70, ../sass/lightbox.sass */
#prevLink:hover, #prevLink:visited:hover {
  background: url(../images/prevlabel.gif) left 15% no-repeat;
}

/* line 74, ../sass/lightbox.sass */
#nextLink:hover, #nextLink:visited:hover {
  background: url(../images/nextlabel.gif) right 15% no-repeat;
}

/* line 77, ../sass/lightbox.sass */
#imageDataContainer {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: white;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 86, ../sass/lightbox.sass */
#imageData {
  padding: 0 10px;
  color: #666666;
}
/* line 89, ../sass/lightbox.sass */
#imageData #imageDetails {
  width: 70%;
  float: left;
  text-align: left;
}
/* line 93, ../sass/lightbox.sass */
#imageData #caption {
  font-weight: bold;
}
/* line 95, ../sass/lightbox.sass */
#imageData #numberDisplay {
  display: block;
  clear: left;
  padding-bottom: 1em;
}
/* line 99, ../sass/lightbox.sass */
#imageData #bottomNavClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}

/* line 105, ../sass/lightbox.sass */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
  background-color: black;
}
