/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.outerContainer.animating {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 42, ../sass/lightbox.sass */
.container {
  padding: 10px;
}

/* line 45, ../sass/lightbox.sass */
.loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 54, ../sass/lightbox.sass */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 62, ../sass/lightbox.sass */
.container > .nav {
  left: 0;
}

/* line 65, ../sass/lightbox.sass */
.nav a {
  outline: none;
}

/* line 68, ../sass/lightbox.sass */
.prev, .next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,AAAA");
  /* Trick IE into showing hover */
  display: block;
}

/* line 75, ../sass/lightbox.sass */
.prev {
  left: 0;
  float: left;
}

/* line 79, ../sass/lightbox.sass */
.next {
  right: 0;
  float: right;
}

/* line 84, ../sass/lightbox.sass */
.prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 91, ../sass/lightbox.sass */
.dataContainer {
  background-color: white;
  margin: 0 auto;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 98, ../sass/lightbox.sass */
.data {
  padding: 0 10px;
  color: #666666;
}
/* line 101, ../sass/lightbox.sass */
.data .details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 106, ../sass/lightbox.sass */
.data .caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 110, ../sass/lightbox.sass */
.data .number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 115, ../sass/lightbox.sass */
.data .close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 120, ../sass/lightbox.sass */
.data .close:hover {
  cursor: pointer;
}
