/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography
 *----------------------------------------------- */
/* line 10, ../sass/screen.sass */
body,
input,
textarea {
  color: #eeeeee;
  font-size: 18px;
  font-family: "Karla", "lucida grande", sans-serif;
}

/* line 17, ../sass/screen.sass */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;
  color: #fdf485;
}

/* line 27, ../sass/screen.sass */
h1 {
  font-size: 72px;
  line-height: 1em;
}

/* line 31, ../sass/screen.sass */
h2 {
  font-size: 48px;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}

/* line 36, ../sass/screen.sass */
h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e5d404;
}

/* line 42, ../sass/screen.sass */
h4 {
  font-size: 18px;
}

/* line 45, ../sass/screen.sass */
p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

/* line 49, ../sass/screen.sass */
ul, ol {
  margin: 0 0 1.25em 0;
}

/* line 52, ../sass/screen.sass */
li {
  line-height: 1.4em;
}

/* line 55, ../sass/screen.sass */
dt {
  font-weight: bold;
}

/* line 58, ../sass/screen.sass */
dd {
  margin-bottom: 1.625em;
}

/* line 61, ../sass/screen.sass */
strong {
  font-weight: bold;
}

/* line 64, ../sass/screen.sass */
i {
  font-style: italic;
}

/* line 67, ../sass/screen.sass */
pre {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #2b2b2b;
  font: 12px "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 75, ../sass/screen.sass */
code, kbd {
  padding: 4px;
  background-color: #2b2b2b;
  font: 12px "Andale Mono", "DejaVu Sans Mono", monospace;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 81, ../sass/screen.sass */
pre code {
  font-size: 13px;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

/* line 87, ../sass/screen.sass */
a {
  color: #00bfa8;
  text-decoration: none;
}
/* line 90, ../sass/screen.sass */
a:hover {
  color: #59ffeb;
}

/* line 93, ../sass/screen.sass */
::-moz-selection,
::selection {
  background: #ff8000;
  color: white;
}

/* -- Layout ------------------------------------------------------------------ */
/* line 100, ../sass/screen.sass */
body {
  margin: 40px 40px 80px 40px;
  background: #444444;
}

/* line 104, ../sass/screen.sass */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* line 108, ../sass/screen.sass */
.section {
  padding: 40px 0 60px 0;
  *zoom: 1;
  border-top: 4px solid #373737;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 112, ../sass/screen.sass */
.section:first-child {
  border-top: none;
}

/* line 115, ../sass/screen.sass */
.section-header {
  text-align: center;
}

/* line 118, ../sass/screen.sass */
.row {
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* -- Intro -- */
/* line 123, ../sass/screen.sass */
.intro-section {
  text-align: center;
}

/* line 126, ../sass/screen.sass */
.logo {
  color: white;
}
/* line 128, ../sass/screen.sass */
.logo .version {
  color: #fdf485;
}

/* line 131, ../sass/screen.sass */
.author-links {
  font-size: 16px;
}

/* line 134, ../sass/screen.sass */
.lead {
  font-size: 25px;
}

/* -- Sharing -- */
/* line 139, ../sass/screen.sass */
.sharing {
  position: fixed;
  top: 20px;
  right: 0;
}

/* content
 *----------------------------------------------- */
/* line 147, ../sass/screen.sass */
.download {
  float: left;
  margin: 0 40px 40px 0;
  padding: 10px 20px 10px 10px;
  background-color: #333333;
  border: 5px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 155, ../sass/screen.sass */
.download:hover {
  border-color: #00bfa8;
  background-color: #444444;
}
/* line 158, ../sass/screen.sass */
.download .box {
  float: left;
}
/* line 160, ../sass/screen.sass */
.download .file {
  float: left;
  font-size: 36px;
  font-weight: 400;
  color: white;
  line-height: 1.1em;
}
/* line 166, ../sass/screen.sass */
.download .file .version {
  font-size: 24px;
  color: #00bfa8;
}

/* line 171, ../sass/screen.sass */
.filelist {
  float: left;
  font-size: 12px;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.5em;
}
/* line 176, ../sass/screen.sass */
.filelist .header {
  text-transform: uppercase;
  font-weight: bold;
}
/* line 179, ../sass/screen.sass */
.filelist .folder {
  color: #999999;
}
/* line 181, ../sass/screen.sass */
.filelist .note {
  color: #999999;
}

/* line 185, ../sass/screen.sass */
.changelog {
  margin-bottom: 0.5em;
}
/* line 187, ../sass/screen.sass */
.changelog li {
  list-style: none;
  padding: 0 0 0 14px;
  background: url(../img/bullet.gif) no-repeat 0 11px;
  color: #999999;
}
/* line 192, ../sass/screen.sass */
.changelog li .version {
  color: #88a616;
}
/* line 194, ../sass/screen.sass */
.changelog li .date {
  color: white;
}
/* line 196, ../sass/screen.sass */
.changelog .old {
  display: none;
}

/* line 199, ../sass/screen.sass */
.showOlderChanges {
  color: #999999;
}

/* line 203, ../sass/screen.sass */
.forums {
  float: left;
  margin: 0 40px 40px 0;
  padding: 10px;
  background-color: #333333;
  border: 5px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 211, ../sass/screen.sass */
.forums:hover {
  border-color: #00bfa8;
  background-color: #444444;
}
/* line 214, ../sass/screen.sass */
.forums .speech {
  float: left;
  margin-right: 20px;
}
/* line 217, ../sass/screen.sass */
.forums .link {
  float: left;
  font-size: 36px;
  font-weight: 400;
  color: white;
  line-height: 1.1em;
}
/* line 223, ../sass/screen.sass */
.forums .link .sub {
  color: #00bfa8;
}

/* line 226, ../sass/screen.sass */
.donate-button {
  border: 5px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 230, ../sass/screen.sass */
.donate-button:hover {
  background-color: #444444;
  border-color: #00bfa8;
}

/* misc
 *----------------------------------------------- */
/* line 238, ../sass/screen.sass */
.imageRow {
  *zoom: 1;
  margin: 20px 0;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageRow:after {
  content: "";
  display: table;
  clear: both;
}
/* line 241, ../sass/screen.sass */
.imageRow .single {
  float: left;
}
/* line 243, ../sass/screen.sass */
.imageRow .single a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 7px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 253, ../sass/screen.sass */
.imageRow .single a img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 256, ../sass/screen.sass */
.imageRow .single a:hover {
  background-color: #00bfa8;
}
/* line 258, ../sass/screen.sass */
.imageRow .set {
  float: left;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 264, ../sass/screen.sass */
.imageRow .set:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 267, ../sass/screen.sass */
.imageRow .set .single a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}
/* line 272, ../sass/screen.sass */
.imageRow .set .single a:hover {
  background-color: #00bfa8;
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 276, ../sass/screen.sass */
.imageRow .set .single.first a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 279, ../sass/screen.sass */
.imageRow .set .single.last a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
