/*	Lightbox v2 Project page styles	
 *	Author: Lokesh Dhakar http://www.lokeshdhakar.com
 *	Created: a long time ago (2006 I think)
 *	Table of Contents:
 *		layout
 *		typography
 *    content */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* layout
 *----------------------------------------------- */
#sidebar {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 200px;
}

#content {
  margin: 0 40px 40px 280px;
}

.row {
  *zoom: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Typography
 *----------------------------------------------- */
body {
  background: #222222 url(../images/bg-checker.png);
}

body, input, textarea {
  color: white;
  text-shadow: 0 -1px 0 black;
  font-size: 16px;
  line-height: 1.625em;
  font-family: "Open Sans", "lucida grande", tahoma, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

#lightbox {
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fredoka One", "lucida grande", tahoma, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.625em;
  margin: 0;
  color: #d0eb6a;
}

h1 {
  font-size: 40px;
  line-height: 1.2em;
}

h2 {
  font-size: 34px;
  line-height: 1.45em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #88a616;
}

h4 {
  font-size: 16px;
}

/* Text elements */
p {
  margin: 0 0 1.25em 0;
  line-height: 1.625em;
}

ul, ol {
  margin: 0 0 1.25em 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.625em;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

pre {
  background: rgba(0, 0, 0, 0.4);
  color: #e7931a;
  font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.5;
  margin: 20px 0 20px 0;
  overflow: auto;
  padding: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 2px 6px 2px black;
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 2px 6px 2px black;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 2px 6px 2px black;
}

code, kbd {
  font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 2px 6px 2px black;
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 2px 6px 2px black;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 2px 6px 2px black;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #e7931a;
}

pre code {
  font-size: 13px;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

/* Links */
a {
  color: #8ad459;
  text-decoration: none;
}
a:hover {
  color: #589e29;
}

::-moz-selection,
::selection {
  background: #e7931a;
  color: white;
}

/* sidebar
 *----------------------------------------------- */
#sidebar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#sidebar:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#sidebar a {
  color: white;
}
#sidebar .logo {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#sidebar .logo em {
  color: #8ad459;
}
#sidebar .logo:hover {
  text-shadow: 0 0 20px #d0eb6a, 0 0 50px #d0eb6a;
}
#sidebar .author {
  font-weight: 800;
  line-height: 1.4em;
}
#sidebar .author a:hover {
  text-shadow: 0 0 10px white;
}
#sidebar .author .twitter {
  font-size: 14px;
}
#sidebar .author .twitter a {
  color: #4d9ed8;
}
#sidebar .author .twitter em {
  color: #4d9ed8;
}

#nav {
  list-style: none;
  margin: 1.5em 0 1em 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Fredoka One", "lucida grande", tahoma, sans-serif;
}
#nav li {
  padding: 0;
  margin: 0;
}
#nav a {
  display: block;
  height: 2em;
  padding: 0.6em 0.2em 0.3em 20px;
  background: #505050;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#nav a:hover {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  background-color: #88a616;
}
#nav a.first {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-color: transparent;
}
#nav a.last {
  border-top-color: rgba(255, 255, 255, 0.25);
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* content
 *----------------------------------------------- */
.download {
  float: left;
  margin: 0 40px 40px 0;
  padding: 10px 20px 10px 10px;
  background-color: #333333;
  border: 5px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.download:hover {
  border-color: #8ad459;
  background-color: #444444;
}
.download .box {
  float: left;
}
.download .file {
  float: left;
  font-size: 36px;
  font-family: "Fredoka One", "lucida grande", tahoma, sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.1em;
}
.download .file .version {
  font-size: 24px;
  color: #8ad459;
}

.filelist {
  float: left;
  font-size: 12px;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.5em;
}
.filelist .header {
  text-transform: uppercase;
  font-weight: bold;
}
.filelist .folder {
  color: #999999;
}
.filelist .note {
  color: #999999;
}

.changelog {
  margin-bottom: 0.5em;
}
.changelog li {
  list-style: none;
  padding: 0 0 0 14px;
  background: url(../images/bullet.gif) no-repeat 0 11px;
  color: #999999;
}
.changelog li .version {
  color: #88a616;
}
.changelog li .date {
  color: white;
}
.changelog .old {
  display: none;
}

.showOlderChanges {
  color: #999999;
}

.forums {
  float: left;
  margin: 0 40px 40px 0;
  padding: 10px;
  background-color: #333333;
  border: 5px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.forums:hover {
  border-color: #8ad459;
  background-color: #444444;
}
.forums .speech {
  float: left;
  margin-right: 20px;
}
.forums .link {
  float: left;
  font-size: 36px;
  font-family: "Fredoka One", "lucida grande", tahoma, sans-serif;
  font-weight: 400;
  color: white;
  line-height: 1.1em;
}
.forums .link .sub {
  color: #8ad459;
}

#elsewhere .button {
  font-family: "Fredoka One", "lucida grande", tahoma, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: block;
  float: left;
  margin: 20px 20px 40px 0;
  padding: 10px 10px 10px 10px;
  background-color: #333333;
  border: 5px solid #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
}
#elsewhere .button:hover {
  background-color: #444444;
  border-color: #8ad459;
}

/* misc
 *----------------------------------------------- */
p.lead {
  font-size: 26px;
  font-weight: 700;
  color: #e6e6e6;
  line-height: 1.4em;
  margin-bottom: 0;
}

hr {
  height: 6px;
  background: #3d3d33;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  clear: both;
}

.section {
  padding: 40px 0;
}
.section:first-child {
  border-top: none;
}

.imageRow {
  *zoom: 1;
  margin: 20px 0;
}
.imageRow:after {
  content: "";
  display: table;
  clear: both;
}
.imageRow .single {
  float: left;
}
.imageRow .single a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 7px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.imageRow .single a img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.imageRow .single a:hover {
  background-color: #8ad459;
}
.imageRow .set {
  float: left;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.imageRow .set:hover {
  background: rgba(255, 255, 255, 0.2);
}
.imageRow .set .single a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}
.imageRow .set .single a:hover {
  background-color: #8ad459;
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.imageRow .set .single.first a {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.imageRow .set .single.last a {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media only screen and (max-width: 1000px) {
  body, input, textarea {
    font-size: 14px;
  }

  body {
    padding-top: 20px;
  }

  .section {
    padding: 20px 0;
  }

  p.lead {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  code, kbd {
    font-size: 13px;
  }

  pre code {
    font-size: 12px;
  }

  pre {
    padding: 0.75em;
  }

  #sidebar {
    width: 160px;
    left: 20px;
  }

  #content {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 700px) {
  body, input, textarea {
    font-size: 12px;
    padding-top: 0;
  }

  p.lead {
    font-size: 16px;
  }

  code, kbd {
    font-size: 12px;
  }

  pre code {
    font-size: 11px;
  }

  pre {
    padding: 0.5em;
  }

  #sidebar {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    position: static;
    text-align: center;
    width: auto;
    margin: 20px 20px 0 20px;
    border-bottom: 6px solid #3d3d33;
  }
  #sidebar h1 {
    font-size: 24px;
  }
  #sidebar .twitter {
    font-size: 14px;
  }
  #sidebar #nav {
    font-size: 12px;
  }
  #sidebar #nav li {
    display: inline-block;
  }
  #sidebar #nav li a {
    padding: 10px;
    height: auto;
    margin: 0 5px 10px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  #content {
    margin: 10px 20px 20px 20px;
  }

  .download {
    text-align: center;
    width: 95%;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .download .box, .download .file {
    float: none;
  }

  .forums {
    text-align: center;
    width: 95%;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .forums .speech, .forums .link {
    float: none;
  }
}