// COLORS & BACKGROUNDS --------------------------------------------------------

$lightGray: #eeeeee
$blue: #0096df
$green: #00bfa8
$yellow: #fdf485
$orange: #ff8000
$red: #ff4040

$color: #ccc
$bgColor: #444

$headingColor: $yellow
$linkColor: $green

$borderColor: #d5d5d5
$darkBorderColor: darken($borderColor, 10%)
$darkerBorderColor: darken($borderColor, 20%)
$lightBorderColor: lighten($borderColor, 5%)
$lighterBorderColor: lighten($borderColor, 10%)

// TYPE --------------------------------------------------------

$fontFamily: "Karla", "lucida grande", sans-serif
$fontSize: 18px

// LAYOUT --------------------------------------------------------

$gutter: 40px
$maxColumnWidth: 740px


// UI COMPONENTS --------------------------------------------------------
$radius: 4px


