@import "compass/reset"
@import "compass/css3"
@import "compass/utilities/general/clearfix"

@import "variables"

/* Typography
 *----------------------------------------------- */

body,
input,
textarea
  color: $color
  font-size: $fontSize
  font-family: $fontFamily

h1,
h2,
h3,
h4,
h5,
h6
  line-height: 1.2em
  color: $headingColor

h1
  font-size: 72px
  line-height: 1em

h2
  font-size: 48px
  line-height: 1.2em
  margin-bottom: 0.3em

h3
  font-size: $fontSize
  text-transform: uppercase
  letter-spacing: 0.1em
  color: darken($headingColor, 30%)
  margin-bottom: 0.3em

h4
  font-size: $fontSize

p
  line-height: 1.4em
  margin-bottom: 1.4em

ol
  list-style-type: decimal

ul, ol
  margin: 0 0 1.25em 0

li
  padding-bottom: .8em
  margin-bottom: .8em
  border-bottom: 2px solid lighten($bgColor, 5%)
  line-height: 1.3em
  &.last-list-item
    border-bottom: none

dt
  font-weight: bold

dd
  margin-bottom: 1.625em

strong
  font-weight: bold

i
  font-style: italic

pre
  padding: $gutter/4
  margin-top: $gutter/8
  margin-bottom: $gutter/4
  background-color: darken($bgColor, 10%)
  font: $fontSize - 5 "Andale Mono", "DejaVu Sans Mono", monospace
  line-height: 1.5em
  +border-radius($radius)
  overflow-x: auto

code, kbd
  padding: $gutter/10
  color: desaturate($orange, 65%)
  background-color: darken($bgColor, 10%)
  font: $fontSize - 5 "Andale Mono", "DejaVu Sans Mono", monospace
  +border-radius($radius)

code
  position: relative
  top: -1px

pre code
  top: 0
  padding: 0
  background: transparent
  +box-shadow(none)
  font-size: 13px

a
  color: $linkColor
  text-decoration: none
  &:hover
    color: lighten($linkColor, 30%)

::-moz-selection,
::selection
  background: $orange
  color: white

.sub-point
  display: block
  font-size: $fontSize - 4
  code
    font-size: $fontSize - 6
    padding: $gutter/20


/* -- Layout ------------------------------------------------------------------ */

body
  margin: $gutter $gutter $gutter*2 $gutter
  background: $bgColor

.wrapper
  max-width: $maxColumnWidth
  margin: 0 auto

.section
  padding: 0 0 $gutter 0
  margin-bottom: $gutter
  +pie-clearfix
  border-bottom: 4px solid darken($bgColor, 5%)
  &.last
    border-bottom: none

.section-header
  text-align: center

.section-subheader
  margin-top: -.6em
  margin-bottom: 1em
  text-align: center
  font-size: 24px

.row
  +pie-clearfix

/* -- Sections ------------------------------------------------------------------ */

/* -- Intro -- */

.intro-section
  text-align: center

.logo
  color: white
  margin-bottom: 0.05em
  .version
    color: $yellow

.author
  margin-top: -9px
  padding-left: 23px
  line-height: 1.2em

.author-links
  font-size: $fontSize - 2

.lead
  font-size: $fontSize + 4

/* -- Examples -- */
.examples-section
  text-align: center

.image-row
  +pie-clearfix
  margin-bottom: $gutter/2

.example-image-link
  display: inline-block
  margin: 0 $gutter/4 $gutter/2 $gutter/4
  line-height: 0
  +border-radius($radius)
  border: 4px solid lighten($bgColor, 10%)
  +transition(all .1s ease-out)
  &:hover
    border: 4px solid $linkColor

.example-image
  +border-radius(2px)

/* -- Download -- */

.download-section
  text-align: center

.download-button
  display: block
  max-width: 300px
  margin: 0 auto $gutter/2 auto
  padding-top: $gutter/4 + 10
  padding-bottom: $gutter/4
  background-color: darken($bgColor, 10%)
  border: 4px solid $bgColor
  +border-radius($radius)
  +transition(all .1s ease-out)
  +pie-clearfix
  &:hover
    border-color: $linkColor
    background-color: #444
  .file
    font-size: 36px
    color: white
    line-height: 1em
  .version
    font-size: 24px
    color: $linkColor

/* -- Donate -- */

.donate-button-form
  text-align: center
.donate-button
  border: 4px solid rgba(0, 0, 0, 0)
  +border-radius($radius)
  +transition(all .1s ease-out)
  &:hover
    background-color: #444
    border-color: $linkColor

/* -- Credits -- */

.credits-section
  text-align: center

/* -- Sharing -- */

.sharing-section
  position: fixed
  top: 20px
  right: 0


/* -- Responsive design -------------------------------------------------------------- */

@media only screen and (max-width : 640px)
  body
    margin: $gutter*2 $gutter/4 $gutter $gutter/4
    font-size: $fontSize - 4
  h1
    font-size: 48px // from 72px
  h2
    font-size: 26px // from 48px
  h3
    font-size: 16px // from 18px
  ol
    list-style-position: inside
  code,
  kbd,
  pre,
  pre code
    font-size: $fontSize - 7
  .sub-point
    font-size: $fontSize - 6
    code
      font-size: $fontSize - 9
  .lead
    font-size: $fontSize - 2
  .section
    padding-bottom: $gutter/2
    margin-bottom: $gutter/2
  .author
    margin-top: -5px
    padding-left: 30px
  .author-links
    font-size: $fontSize - 6


