body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  background-color: black;
  opacity: 0.8;
}

.lightbox {
  position: absolute;
  left: 0;
  z-index: 10000;
  width: 100%;
  font-weight: normal;
  line-height: 0;
  text-align: center;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  max-width: inherit;
  height: auto;
  max-height: none;

  /* Image border */
  border: 4px solid white;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  *zoom: 1;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
  border-radius: 4px;
}

.lb-outerContainer::after {
  display: table;
  clear: both;
  content: '';
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  width: 100%;
  height: 25%;
  line-height: 0;
  text-align: center;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url('../images/loading.gif') no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  outline: none;
}

.lb-prev,
.lb-next {
  display: block;
  height: 100%;
  cursor: pointer;
}

.lb-nav a.lb-prev {
  left: 0;
  float: left;
  width: 34%;
  background: url('../images/prev.png') left 48% no-repeat;
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  opacity: 1;
}

.lb-nav a.lb-next {
  right: 0;
  float: right;
  width: 64%;
  background: url('../images/next.png') right 48% no-repeat;
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  opacity: 1;
}

.lb-dataContainer {
  width: 100%;
  padding-top: 5px;
  margin: 0 auto;
  *zoom: 1;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.lb-dataContainer::after {
  display: table;
  clear: both;
  content: '';
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  float: left;
  width: 85%;
  line-height: 1.1em;
  text-align: left;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  padding-bottom: 1em;
  clear: left;
  font-size: 12px;
  color: #999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  text-align: right;
  background: url('../images/close.png') top right no-repeat;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  opacity: 1;
}
